= form_for @article do |f|
  = render partial: 'includes/errors', locals: {object: @article}

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :text
    = f.text_area :text
  .actions
    = f.submit 'Save', class: 'button success'
