%h1 All articles
%hr
= link_to 'New Article', new_article_path, class: 'button success'

%table
  %thead
    %tr
      %th Title
      %th Text

  %tbody
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.text.truncate_words 20
        %td= link_to 'Show', article, class: 'button secondary tiny'
        %td= link_to 'Edit', edit_article_path(article), class: 'button warning tiny'
        %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button alert tiny'
