%p#notice= notice

%p
  %b Title:
  = @article.title
%p
  %b Text:
  = @article.text

= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Back', articles_path
- if @article.comments.any?
  %h2 Comments
  -@article.comments.each do |comment|
    %p
      %strong
        Commenter:
        = comment.commenter
    %p
      %strong
        Comment:
        = comment.body
        = link_to 'Delete', article_comment_path(comment.article, comment, action: :delete), data: { :confirm => 'Are you sure?' }, class: 'button alert tiny'
- else
  %h3 No comments
%h2 Add a comment

= render 'comments/form'
