!!!
%html{:lang => "en"}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/
    %title= content_for?(:title) ? yield(:title) : 'RoR App - A simple blog'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .contain-to-grid
      %nav.top-bar{'data-topbar' => '', role: :navigation}
        %ul.title-area
          %li.name
            %h1
              %a{herf: root_path} Home
          %li.toggle-topbar.menu-icon
            %a{href: '#'} Menu
        %section.top-bar-section
          %ul.left
            %li= link_to 'All articles', articles_path
    .row
      .columns.small-12
        = yield
